div(class="card")
  - var dir = site.baseURL + `/assets/images/home/`
  - const name = dir + page.image.replace(/\.[^.]+$/, '')
  - processMenuImage(page.image, images[page.image], '/home')

  a(href=site.baseURL+"/series/"+page.link class="link" )
    div.card-image-container
      picture
        source(type="image/webp" media="(max-width: 360px)" srcset=name+'-400w.webp')
        source(type="image/webp" media="(max-width: 725px)" srcset=name+'-800w.webp')
        source(type="image/webp" media="(max-width: 999px)" srcset=name+'-1100w.webp')
        source(type="image/webp" media="(min-width: 1000px)" srcset=name+'-800w.webp')
        img.card-image(src=name+'-1100w.jpg' alt=images[page.image].alt height=825 width=1100)
    h2= page.title
