div(class="card")
  - var dir = site.baseURL + `/assets/images/home/`
  - const name = dir + page.image.replace(/\.[^.]+$/, '')
  - processMenuImage(page.image, images[page.image], '/home')

  a(href=site.baseURL+"/series/"+page.link class="link" )
    div.card-image-container
      picture
        source(type="image/webp" srcset=name+'-400w.webp 400w, ' + name+'-800w.webp 800w, ' + name+'-1100w.webp 1100w'
        sizes="(max-width: 400px) 400px, (min-width: 1100px) 692px")

        img.card-image(src=name+'-1100w.jpg' alt=images[page.image].alt height=images[page.image].height width=images[page.image].width)
    h2= page.title
