div(class="card")
  - var dir = site.baseURL + `/assets/images/home/`
  - const name = dir + page.image.replace(/\.[^.]+$/, '')
  - processMenuImage(page.image, images[page.image], '/home')

  a(href=site.baseURL+"/series/"+page.link class="link" )
    div(class="card-image-container")
      img(src=name+'-1100w.webp' alt=images[page.image].alt class="card-image"
      srcset=name+'-400w.webp 400w, ' + name+'-800w.webp 800w, ' + name+'-1100w.webp 1100w'
      sizes="(max-width: 400px) 400px, (min-width: 1100px) 692px")
    h2= page.title
