mixin carousel(content, id)
  section.carousel(id=id)
    for item, index in content
      - processImage(item.image, images[item.image], path, 1400, 800)
      if index == 0
        div.slide
          - const toWebp = item.image.replace(/\.[^.]+$/, '.webp')
          img(src=site.baseURL + `/assets/images${path}/${toWebp}`, alt=images[item.image].alt width=1400 height=800)
          p.subtitle
            != md(item.subtext)
      else
        div.slide.hidden
          - const toWebp = item.image.replace(/\.[^.]+$/, '.webp')
          img(src=site.baseURL + `/assets/images${path}/${toWebp}`, alt=images[item.image].alt width=1400 height=800 loading="lazy")
          p.subtitle
            != md(item.subtext)

    button.btn-ghost.btn-img.prev(onclick=`prev("${id}", "${id}Index","${id}Active")` aria-label="Next image")
      include ../components/chevron-left.pug
    button.btn-ghost.btn-img.next(onclick=`next("${id}", "${id}Index","${id}Active")` aria-label="Previous image")
      include ../components/chevron-right.pug

    div.boxes
      for item, index in content
        div.box

    script.
      var !{id}Active = true
      var !{id}Index = 0
      var test = 'my name'
      slideShow("!{id}", "!{id}Index", "!{id}Active")