include ../components/image-carousel
include ../components/image-carousel-lazy

mixin carousel(content, id)
  section.carousel(id=id)
    for item, index in content
      - processImage(item.image, images[item.image], path)
      if index == 0
        div.slide
          +image-carousel(item.image, images[item.image].alt)
          div.subtitle
            != md(item.subtext)
      else
        div.slide.hidden
          +image-carousel-lazy(item.image, images[item.image].alt)
          div.subtitle
            != md(item.subtext)

    button.btn-ghost.btn-img.prev(onclick=`prev("${id}", "${id}Index","${id}Active")` aria-label="Next image")
      include ../components/chevron-left.pug
    button.btn-ghost.btn-img.next(onclick=`next("${id}", "${id}Index","${id}Active")` aria-label="Previous image")
      include ../components/chevron-right.pug

    div.boxes
      for item, index in content
        div.box

    script.
      var !{id}Active = true
      var !{id}Index = 0
      var test = 'my name'
      slideShow("!{id}", "!{id}Index", "!{id}Active")