include ../components/image-grid

mixin grid(content)
  section.image-grid 
    for item in content
      - var dir = site.baseURL + `/assets/images${path}/`
      - const modalImage = dir + item.image.replace(/\.[^.]+$/, '-modal')
      button.modal-img-btn(
                          data-image=modalImage
                          data-height=images[item.image].height
                          data-width=images[item.image].width
                          data-alt=images[item.image].alt
                          data-subtext=encodeURIComponent(md(item.subtext.toString()))
                          aria-label="Display large version of image")
        +image-grid(item.image, images[item.image])
