head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= title
  meta(name="description" content= description)

  style.
    body {
      --text-color: #{textColor};
      --link-color: #{linkColor};
      --link-hover-color: #{linkHoverColor};
      --modal-color: #{toModalColor(modalColor)};
      background-image: linear-gradient(#{topColor}, #{bottomColor});
    }
  link(rel='preload' as="font" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Regular.woff2' crossorigin)
  link(rel='preload' as="font" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Bold.woff2' crossorigin)
  link(rel='preload' as="font" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Italic.woff2' crossorigin)
  link(rel='stylesheet' href=site.baseURL + '/assets/css/style.css')
  script(src=site.baseURL + '/assets/js/script.js')