head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= title
  meta(name="description" content= description)
  meta(http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'none'; object-src 'none'")
  link(rel='preload' as="font" type="font/woff2" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Regular.woff2' crossorigin)
  link(rel='preload' as="font" type="font/woff2" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Bold.woff2' crossorigin)
  link(rel='preload' as="font" type="font/woff2" href=site.baseURL + '/assets/fonts/Chakra_Petch/ChakraPetch-Italic.woff2' crossorigin)
  link(rel='stylesheet' href=site.baseURL + '/assets/css/'+page+'.css')
  link(rel='stylesheet' href=site.baseURL + '/assets/css/style.css')