mixin carousel(name, content)
  li.list-group-item.d-flex.justify-content-end
    button.btn.btn-primary(onclick=`addImageItem('${name}')` type='button') Add Image
  ul.list-group-flush.accordion-body(id=name)
    if content
      for item, index in content
        +grid-item(name, index, item.subtext, item.image)


mixin carousel-item(name, index, subtext, image)
  li.list-group-item
    div.row.gy-1
      div.col-md-4.container
        img.img-fluid.img-thumbnail(
          height=150 width=150 
          src= site.baseURL + `/admin/assets/images${path}/modify/thumb/${image}` )

        input.form-control(name=`${name}[${index}][image]` value=image type="hidden")
      div.col-md-8
        label.form-label Subtext
        textarea.form-control(name=`${name}[${index}][subtext]` rows=4)= subtext

    div.d-flex.justify-content-between.pt-2
      button.btn.btn-danger(type="button" onclick=`deleteImageItem('${name}','${index}')`) Delete

      button.btn.btn-primary(type="button"
                                data-bs-toggle="modal" data-bs-target="#imageModal"
                                onclick="setActiveImage(event)"
                              ) Select Image
      