mixin carousel(name, content)
  ul.list-group-flush.accordion-body(id=name)
    if content
      for item, index in content
        +carousel-item(name, index, item.title, item.image)
    li.list-group-item
      button.btn.btn-primary(onclick=`addImageItem('${name}')` type='button') Add
      button.btn.btn-danger(onclick=`deleteImageItem('${name}')` type='button') Delete


mixin carousel-item(name, index, title, image)
  li.list-group-item
    div.row.gy-1
      div.col-md-3
        label.form-label title
        input.form-control(name=`${name}[${index}][title]` value=title)
      div.col-md-6.container
        img.img-fluid.img-thumbnail(
          height=150 width=150 
          src= site.baseURL + `/admin/assets/images${path}/modify/thumb/${image}` )
        button.btn.btn-primary(type="button"
                                  data-bs-toggle="modal" data-bs-target="#imageModal"
                                  onclick="setActiveImage(event)"
                                ) Select Image
        input.form-control(name=`${name}[${index}][image]` value=image type="hidden")
      