li.list-group-item(id=`${folder}/${fname}-li`)
  div.row
    .col-md-4.d-flex.justify-content-center.align-items-center.justify-content-around
      div
        p Original
        a(href=site.baseURL+'/admin/assets/images'+path+'/original/'+fname)
          img.img-fluid.img-thumbnail(
                height=200 width=200 
                src= site.baseURL+'/admin/assets/images'+path+'/original/thumb/'+fname)
      div
        if object.modified
          p Modified
          a(href=site.baseURL+'/admin/assets/images'+path+'/modify/'+fname)
            img.img-fluid.img-thumbnail(
                  height=200 width=200 
                  src= site.baseURL+'/admin/assets/images'+path+'/modify/thumb/'+fname)
        else
          p Not Modified
    div.col-md-6
      div.d-flex.justify-content-between
        label.form-label= `Filename: ${fname}`
        label.form-label= `Original Image Dimensions: ${object.origWidth} x ${object.origHeight} (W x H) `
      form(id=`${folder}/${fname}` enctype="multipart/form-data")
        label.farm-label Resize Width
        input.form-input(name="resizeWidth" type="number" value=object.resizeWidth) 
        label.farm-label Height
        input.form-input(name="resizeHeight" type="number" value=object.resizeHeight)
        <br>
        label.farm-label Rotate
        input.form-input(name="rotate" type="number" value=object.rotate)
        <br>
        label.form-label Alt Text
        textarea.form-control(rows=2 name="alt")= object.alt
      button.btn.mt-2.btn-primary(type="button" onclick=`updateImage('${folder}/${fname}')` id=`${folder}/${fname}-btn`) Update
        span.ms-2.spinner-border.spinner-border-sm.d-none
        
    div.col-md-2.d-flex.justify-content-end.align-items-center
      button.btn.btn-danger(type="button" onclick=`deleteImage('${folder}/${fname}')`) Delete